:root {
    /* Bestämmer färger som används på sidan, för att inte behöva kopiera in hex-kod */
    --light-color: #deff9d;
    --medium-color: #8b6aff;
    --dark-color: #543dcb;
    --yellow-color: #C9FF33;
}

body {
    /* Bestämmer utseendet för hela sidan */
    margin: 0;
    /* Tar bort marginaler runt sidan */
    background-color: var(--light-color);

}

nav {
    /* Bestämmer utseendet för navigationsfältet */
    height: 60px;
    background-color: var(--medium-color);
    display: flex;
    /* Använder Flexbox för layout */
    justify-content: flex-end;
    /* Placerar elementen till höger */
    align-items: center;

}

.nav-links {
    /* Bestämmer hur länkarna placeras i navigationsfältet*/
    height: 100%;
    width: 100%;
    display: flex;
    /* Använder Flexbox för layout */
    flex-direction: row;
    /* Placerar elementen i en rad */
}

nav a:first-of-type {
    /* Placerar alla länkar förutom Startsidan åt höger, för att skilja sartsidan från övrig innehåll*/
    margin-right: auto;
}

nav a {
    /* Bestämmer utseendet för länkarna i navigationsmenyn */
    color: black;
    font-size: 1.2em;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    height: 100%;
    /* Tar upp hela höjden i föräldern */
    padding: 0 20px;
    /* Lägger till utrymme inuti länkarna */
    display: flex;
    /* Använder Flexbox för layout */
    align-items: center;
    text-decoration: none;
    /* Tar bort understrykning från länkar */
}

nav a:hover {
    background-color: var(--yellow-color);
    /* Ändrar bakgrundsfärg vid hovring i navigationen */
    color: black;
    text-shadow: var(--medium-color) 1px 1px 1px;
    transition: 0.4s ease-in-out;
    text-decoration-line: none;
}

nav svg {
    fill: black;
    /* Färg för SVG-ikoner, alltså hamburgermenyn och "X" knappen  */
}

#sidebar-active {
    display: none;
    /* Gömmer checkboxen */
}

.open-sidebar-button,
.close-sidebar-button {
    display: none;
    /* Gömmer knapparna för att öppna och stänga sidomenyn */
}

@media (max-width: 710px) {

    /* Anpassar layouten för mindre skärmar */
    .nav-links {
        flex-direction: column;
        /* Placerar elementen i en kolumn */
        align-items: flex-start;
        /* Placerar elementen längst upp till vänster */
        position: fixed;
        /* Fixerar elementet på sidan */
        top: 0;
        /* Placerar elementet längst upp på sidan */
        right: -100%;
        /* Flyttar elementet utanför synfältet */
        z-index: 10;
        /* Placerar elementet ovanför andra element */
        width: 200px;
        /* Anger bredden på elementet */
        background-color: var(--medium-color);
        box-shadow: -5px 0 5px rgba(0, 0, 0, 0.25);
        /* Lägger till skugga för att markera elementet */
        transition: 0.5s ease-out;
        /* Lägger till en övergångseffekt */
        
    }



    nav a {
        /* Bestämmer utseende för navigationen i hamburgermenyn */
        box-sizing: border-box;
        /* Inkluderar padding och border i elementets totala bredd */
        height: auto;
        /* Tillåter höjden att anpassas efter innehållet */
        width: 100%;
        /* Tar upp hela bredden i föräldern */
        padding: 20px 30px;
        /* Lägger till utrymme inuti länkarna */
        justify-content: flex-start;
        /* Placerar texten längst upp till vänster */
        
    }

    .open-sidebar-button,
    .close-sidebar-button {
        display: block;
        /* Visar knapparna för att öppna och stänga sidomenyn */
        padding: 20px;

    }

    #sidebar-active:checked~.nav-links {
        right: 0;
        /* Flyttar elementet in i synfältet när det är aktivt */
    }
}

.hero-section {
    background: url(images/unsplash.jpg);
    /*bilden är tagen från unsplash.com under deras gratis bilder*/
    color: white;
    text-align: center;
    padding: 100px 20px;
    opacity: 80%;
}

.hero-section h1 {
    margin-bottom: 20px;
    color: var(--light-color);
    padding: 20px;
    text-align: center;
    font-size: 3rem;
    font-family: "Londrina Shadow", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-shadow: 2px 2px 2px var(--yellow-color);
    text-transform: uppercase;

}

.hero-section h2 {
    font-size: 1.5rem;
    margin-bottom: 20px;
}

.hero-section p {
    font-size: 1.25rem;
    margin-bottom: 40px;
}

.report-section h1 {
    font-size: 1.5rem;
    margin: 5px
}

.report-section p {
    font-size: 1rem;
    margin: 8px
}



.skip-link {
    /* */
    position: absolute;
    top: -40px;
    left: -40px;
    background: #000;
    color: white;
    padding: 8px;
    z-index: 1000;
}

.skip-link:focus {
    top: 0;
    left: 0;
}

main {
    /* Bestämmer utseendet för main elementet*/
    padding: 40px;
    text-align: left;
    font-size: 0.8rem;

}

footer {
    padding: 40px;
    text-align: left;
    font-size: 0.8rem;
    background-color: var(--medium-color);

}

footer p {
    color: var(--yellow-color);
    text-shadow: #000 1px 1px 1px;
}

* {
    /* Bestämmer utseendet för hela sidan */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* Inkluderar padding och border i elementets totala bredd */
}

.contact-header {
    color: #543dcb;
}



h1 {
    /* Bestämmer utseendet för h1 rubriker på sidan */
    color: var(--light-color);
    padding: 20px;
    text-align: center;
    font-size: 3rem;
    font-family: "Xanh Mono", monospace;
    font-weight: 600;
    font-style: normal;
    /*lägger en skugga runt texten*/
    text-shadow: #000 1px 1px 1px;
}

h2 {
    /* Bestämmer utseendet för h2 rubriker på sidan */
    color: var(--light-color);
    text-align: center;
    padding-bottom: 20px;
    font-family: "Bodoni Moda", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.1em;
    text-shadow: #000 1px 1px 1px;
}

h3 {
    /* Bestämmer utseendet för h3 rubriker på sidan */
    color: var(--light-color);
    font-size: 1.5em;
    font-family: "Xanh Mono", monospace;
    font-weight: 400;
    font-style: normal;
    margin-bottom: 20px;
    text-align: center;
}

p {
    /* Bestämmer utseendet för paragrafer på sidan */
    color: white;
    font-size: 1em;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin-bottom: 20px;
}

a {
    color: #C9FF33;
    text-decoration-line: none;
}

a:hover {
    text-decoration-line: underline;
    text-decoration-style: wavy;
    color: #F1CCFA;
}

.contact-methods {
    list-style-type: square;
    ;
    /* Gör punkerna till fyrkanter */
    padding: 0;
    /* Tar bort padding runt listan */
    margin: 25px;
    font-family: "Poppins", sans-serif;
    /* Anger typsnitt */
    font-size: 1em;
    /* Anger textstorlek */
}

.contact-methods li {
    margin-bottom: 10px;
    /* Lägger till mellanrum mellan listobjekten */
}


.contact-methods a:hover {
    /* Lägger till understrykning vid hovring */
    text-decoration-line: underline;
    text-decoration-style: wavy;
    color: #F1CCFA;
}



.contact-form {
    /* Använder Flexbox för att skapa en flexibel layout */
    display: flex;
    /* Placerar flex-elementen i en kolumn, det vill säga under varandra */
    flex-direction: column;
    /* Centrerar elementen horisontellt inuti flex-containern */
    justify-content: center;
    /* Sätter en maximal bredd på 400px för formuläret, så att det inte blir för brett */
    max-width: 400px;
    /* Centrerar elementen vertikalt inuti flex-containern */
    align-items: center;
}


input {
    /* Bestämmer utseendet för input elementet, där kunden kan skriva ex. email */
    background-color: white;
    width: 100%;
    font-size: 1em;
    padding: 16px;
    border-radius: 10px;
    border-color: var(--medium-color);
    border-width: 4px;
    margin-bottom: 20px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;

}

textarea {
    /* Bestämmer utseende för textområdet, där kunden förklarar vad de behvöer hjälp med */
    background-color: white;
    width: 100%;
    padding: 16px;
    border-radius: 10px;
    border-color: var(--dark-color);
    border-width: 4px;
    margin-bottom: 25px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1em;

}

input:focus-within,
textarea:focus-within {
    /* Ändrar utseendet vid fokusering av de olika elementen i kontaktfomruläret */
    outline: none;
    /* Tar bort konturen när elementet är fokuserat */
    border-color: black;
    /* Ändrar border färgen vid fokus */
}

.submit-button {
    align-self: baseline;
}

button {
    /*Bestämmer utseende för knappen i kontaktformuläret*/
    background-color: var(--dark-color);
    color: white;
    font-size: 1em;
    border-radius: 10px;
    padding: 8px 18px;
    text-align: center;
    display: flex;
    /* Använder Flexbox för layout */
    border-color: black;
    border-width: 3px;

}

button:hover {
    opacity: 60%;
    /* Minskar genomskinligheten vid hovring */
    cursor: pointer;
    /* Ändrar muspekaren till en pekare */
}

.grid-container {
    /* Bestämmer utseendet för grid-container där korten och bilderna presenteras */
    display: grid;
    /* Använder CSS Grid för layout för att presentera textinnehållet */
    grid-template-columns: 1fr 1fr;
    /* Skapar två lika stora kolumner */
    gap: 20px;
    justify-content: center;
    align-items: center;

}

.flex-container {
    /* Bestämmer hur och vart bilderna visas */
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;

}

.image-item {
    /*Bestämmer utseende runt om bilderna*/
    display: flex;
    /* Använder Flexbox för layout */
    align-items: center;
    justify-content: center;
    padding: 20px;
    margin: 20px;
    background-color: var(--dark-color);
    border-radius: 20px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);

}

.card {
    /*Bestämmer utseende för korten där information presenteras*/
    padding: 20px;
    margin: 20px;
    background-color: #543dcb;
    /* Bestämmer färg och bredd på borden */
    border-radius: 20px;
    /* Rundar av hörnen */
    text-align: left;
    font-size: 1.5em;
    color: white;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);


}

.card p {
    margin-bottom: 20px;
    /* Lägger till mellanrum under varje stycke, istället för <br> element i HTML koden */
}



@media (max-width: 710px) {

    /* Anpassar layouten för mindre skärmar via en brytpunkt */
    .grid-container {
        grid-template-columns: 1fr;
        /* Ändrar till en kolumn */
    }
}

/*För att göra denna CSS har jag tagit del av föreläsningar, artiklar och youtube videos


Denna sida har jag inhämtat infromation om hur man dekorerar länkar
https://developer.mozilla.org/en-US/docs/Web/CSS/text-decoration-line*/

